In [0]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [0]:
page = requests.get("https://mausam.imd.gov.in/imd_latest/contents/current_weather.php")

In [0]:
soup = BeautifulSoup(page.text,'html.parser')

In [0]:
results = soup.find_all('td')

In [0]:
records = []
for i in range(0,len(results)//4):
  date = results[4*i].contents[0]
  temp = results[4*i+1].text
  var = temp.find('|')
  low_temp = temp[0:var-3]
  high_temp = temp[var+2:-2]
  description = results[4*i+3].text
  records.append((date,low_temp,high_temp,description))

In [0]:
Weather = pd.DataFrame(records,columns = ['Date','Low_Temp','High_Temp','Description'])

In [0]:
Weather.High_Temp = Weather.High_Temp.astype(float)

In [0]:
Weather.Low_Temp = Weather.Low_Temp.astype(float)

In [0]:
Weather.Date = Weather.Date + ', 2020'

In [0]:
Weather.Date = pd.to_datetime(Weather.Date)

In [173]:
Weather.head()

        Date  ...                                        Description
0 2020-04-17  ...               Generally cloudy sky with Light rain
1 2020-04-18  ...  Partly cloudy sky with possibility of developm...
2 2020-04-19  ...  Partly cloudy sky with possibility of developm...
3 2020-04-20  ...    Generally cloudy sky with Light Rain or Drizzle
4 2020-04-21  ...               Generally cloudy sky with Light rain

[5 rows x 4 columns]